/* Adds icons to space menu item links. */
.oa-space-menu li a:before {
  font-family: FontAwesome;
  position: relative;
  right: 5px;
}
.oa-space-menu li.menu-link-calendar a:before {
  content: '\f073';
}
.oa-space-menu li.menu-link-default a:before {
  content: '\f009';
}
.oa-space-menu li.menu-link-discussion a:before {
  content: '\f086';
}
.oa-space-menu li.menu-link-files a:before {
  content: '\f07c';
}
.oa-space-menu li.menu-link-news a:before {
  content: '\f1ea';
}
.oa-space-menu li.menu-link-tasks a:before {
  content: '\f046';
}
